.navbar{
background-color: var(  --primary-color) !important;
height: 4.9rem !important;
padding-top: 0.4rem;
}

nav ul{
    float: right;
    display: flex;
    list-style-type: none;
}

nav ul li{
margin-right: 1rem;
padding: 0.5rem;

}


nav ul li:hover{
   border-bottom: 0.3rem solid var(--light-color);
   border-radius: 0.3rem;
    
    }

nav a{
    color: var(--light-color) !important;
    font-size: 1.4rem

}

.dropdown-menu a{
    color: var(--dark-color) !important;
}