main img{
    width: 99%;
}
.current-events{
    background-image:linear-gradient(45deg,var(--primary-color), #adca1d52, var(--dark-color));
    text-align: center;
    color: var(--dark-color);
    line-height: 2;

}

.previous-events{
    margin: auto;
    text-align: center;
}