main img{
    width: 99%;
    transition: 2s;
}
.current-events{
    text-align: center;
    color: var(--dark-color);
    line-height: 2;

}

.previous-events{
    margin: auto;
    text-align: center;
}

.current-events .card span{
margin-right: 0.8rem;
font-weight: 600;
color: #e2ae49;
}

.intro{
    background-color: rgba(0, 0, 0, 1);
}

.intro h1{
    color: #e0c080;
    font-size: 3.5rem;
}

.see-more-button{
    margin: auto;
}

.see-more-button a{
    font-size: x-large;
}

.intro-image{
    height: 15rem;
}

.intro-image img:hover{
width: 80%;
transition: 2s;
}