footer { 
    width: 100%; 
    min-height: 2rem; 
} 

.wave{
    background-image: url("../../images/wave.svg"); 
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    overflow: auto;
}